.linkcursor {
   cursor: pointer;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		.responsive-table .table th, .responsive-table .table td, .responsive-table .table-condensed th, .responsive-table .table-condensed td {
			padding: none;
		}
		/* Force table to not be like tables anymore */
		.responsive-table > table, .responsive-table > table > thead, .responsive-table > table > tbody, .responsive-table > table > th, .responsive-table td, .responsive-table tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.responsive-table thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.responsive-table tr { border: 1px solid #ccc; }
		
		.responsive-table td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 30% !important; 
		}
		
		.responsive-table td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 30%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.responsive-table td:nth-of-type(1):before { content: ""; }
		.responsive-table td:nth-of-type(2):before { content: "Target"; }
		.responsive-table td:nth-of-type(3):before { content: "Username"; }
		.responsive-table td:nth-of-type(4):before { content: "Password"; }
		.responsive-table td:nth-of-type(5):before { content: "Group"; }
		.responsive-table td:nth-of-type(6):before { content: "Description"; }
		.responsive-table td:nth-of-type(7):before { content: "Edit"; }
		.responsive-table td:nth-of-type(8):before { content: "Delete"; }
		.datatables_filter,
		.dataTables_filter {
			float: none;
		}
	}
	


#id_description {
	width: auto;
	height: auto;
}

.hasAccess {
	display: none;
}

.searchTable {
	word-wrap: break-word;
	table-layout: fixed;
}

#passwordTable th.wide {
        min-width: 110px;
}

.descContent {
	width: 280px !important;
	overflow: hidden;
	font-size: 10px;
	color: #6F6B68;
}

.hiddenPassword {
	width: 120px;
}

.noRights {
	color: #9F9995;
	font-size: 9px;
}

a.showPw {
	color: #459E00 !important;
	padding:0 0 6px;
	float: left;	
}

#newPassword {
	float: right;
}

#showOnly {
	cursor: pointer;
	margin-left: 15px;
}
label[for='showOnly'] {
	display: inline-block;
	padding-left: 5px;
}
