<div class="modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h3>{% if new %}Create new password{% else %}Edit password{% endif %}</h3>
	</div>

	<div class="modal-body">

<div class="formContainer">
	<form id="editPasswordForm" class='modalForm' action='newPassword/' method='POST'>
		{% csrf_token %}
		<table>
			<tr>
	            <td class="firstColumn"><span class="targetSystemLabel">Target system</span></td>
	            <td class="targetSystem">{{ form.targetSystem }}</td>
	        </tr>		
			<tr>
	            <td><span class="usernameLabel">Username</span></td>
	            <td class="username">{{ form.username }}</td>
	        </tr>
			<tr>
				<td>{% if not new %} <a class="showPw" href="#">Show password</a> {% else %} <span class="passwordLabel">Password</span> {% endif %}</td>
				<td class="hiddenPw password">{{ form.password }}</td>
			</tr>	
			<tr>
	            <td><span class="ldapGroupLabel">Ldap group with access right</span></td>
				<td class="ldapGroup">{{ form.ldapGroup }}</td>
	        </tr>		
			<tr>
				<td colspan="2"><span class="descriptionLabel">Description</span></td>
			</tr>
			<tr>
				<td colspan="2" class="description">{{ form.description }}</td></tr>
		</table>
	</form>
</div>

	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Cancel</a>
		<a href="#" class="save btn btn-primary">Save</a>
	</div>
</div>
{% if not new %}
	<script type="text/javascript">
		$('.hiddenPw').hide();
		$('.showPw').click(function(event) {
			event.preventDefault();
			if ($(this).text() == 'Show password') {
				$('.hiddenPw').show();
				$(this).text('Hide password');
			}
			else {
				$('.hiddenPw').hide();
				$(this).text('Show password');
			}
			return false;
		});
	</script>
{% endif %}
